{{ define "password" }}
{{ template "header" }}

<h2>Update your password</h2>

{{ if .Error }}
<p>Password update failed: <code>{{ .Error }}</code></p>
{{ end }}

<form method="POST">
  <input type="password" name="old_password" id="old_password" placeholder="Enter your OLD password" />
  <input type="password" name="new_password" id="new_password" placeholder="Enter your NEW password" />
  <input type="password" name="new_password_2" id="new_password_2" placeholder="Enter your new password AGAIN" />
  <button type="submit">Update</button>
</form>

{{ template "footer" }}
{{ end }}
