{{ define "signup" }}
{{ template "header" }}

<form method="POST" action="{{ .SignupURL }}">
  <input type="text" name="email" id="email" placeholder="Enter your email address here" />
  <input type="text" name="username" id="username" placeholder="Enter your username here" />
  <input type="password" name="password" id="password" placeholder="Enter your password here" />
  <button type="submit">Sign up</button>
</form>

<p>Already have an account? <a href="{{ .SigninURL }}">Sign in here</a>.</p>

{{ template "footer" }}
{{ end }}
